# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# dependencies 

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# import and read data

Mouse_metadata_df = pd.read_csv("../Pymaceuticals/data/Mouse_metadata.csv")

Study_results_df = pd.read_csv("../Pymaceuticals/data/Study_results.csv")

In [3]:
Mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [4]:
Study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [5]:
# Combine data into a single dataset 

dataset = pd.merge(Study_results_df, Mouse_metadata_df, on="Mouse ID")

dataset.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [6]:
# checking the number of mices

mices_count = dataset["Mouse ID"].unique()
mices_count = pd.Series(mices_count).count()
mices_count

249

In [7]:
# getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

duplicate = dataset.loc[(dataset[["Timepoint","Mouse ID"]].duplicated()), :]["Mouse ID"]
duplicate

861    g989
863    g989
865    g989
867    g989
869    g989
Name: Mouse ID, dtype: object

In [8]:
# getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

duplicate = dataset.loc[(dataset[["Timepoint","Mouse ID"]].duplicated()), :]["Mouse ID"]
duplicate

861    g989
863    g989
865    g989
867    g989
869    g989
Name: Mouse ID, dtype: object

In [9]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

new_dataset = dataset.set_index(["Mouse ID"])
new_dataset = new_dataset.drop(index="g989")
new_dataset = new_dataset.reset_index()
new_dataset

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1875,m601,25,33.118756,1,Capomulin,Male,22,17
1876,m601,30,31.758275,1,Capomulin,Male,22,17
1877,m601,35,30.834357,1,Capomulin,Male,22,17
1878,m601,40,31.378045,1,Capomulin,Male,22,17
1879,m601,45,28.430964,1,Capomulin,Male,22,17

In [10]:
# Checking the number of mice in the clean DataFrame.

mice_check = new_dataset["Mouse ID"].unique()
mice_check = pd.Series(mice_check).count()
mice_check

248

## Summary Statistics

In [85]:
summary = pd.DataFrame()
summary

Empty DataFrame
Columns: []
Index: []

In [77]:
mean = new_dataset[["Tumor Volume (mm3)","Drug Regimen"]].groupby("Drug Regimen").mean()
median = new_dataset[["Tumor Volume (mm3)","Drug Regimen"]].groupby("Drug Regimen").median()
var = new_dataset[["Tumor Volume (mm3)","Drug Regimen"]].groupby("Drug Regimen").var()
std = new_dataset[["Tumor Volume (mm3)","Drug Regimen"]].groupby("Drug Regimen").std()
sem = new_dataset[["Tumor Volume (mm3)","Drug Regimen"]].groupby("Drug Regimen").sem()

In [87]:
mean

              Tumor Volume (mm3)
Drug Regimen
Capomulin              40.675741
Ceftamin               52.591172
Infubinol              52.884795
Ketapril               55.235638
Naftisol               54.331565
Placebo                54.033581
Propriva               52.320930
Ramicane               40.216745
Stelasyn               54.233149
Zoniferol              53.236507

In [88]:
summary["Mean Tumor Volume"] = mean

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series